<tr>
  <td>
    <%= image_tag "me.png",:width=>"70",
    :height=>"70",
    :class=>"img-circle space",
    :alt=>"#{user.name}" %>
  </td>
  <td class="col-centered">
    <%= link_to user.name,user %>
  </td>
</tr>
